.productName{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.productDescription{
    color: #8c8c8f
}

.productPrice{
    color: #8c8c8f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}


