.category{
    color: #fd4f57;
    margin-top: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9e9e9;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

.category .arrows{
    display: block;
    float: right;
}

.category .arrowsDown{
    background-image: url(./up.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 20px;
    /* transform: rotate(180deg); */
    animation:spin .5s ease-in forwards;
    width: 17px;
}

@keyframes spin {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(180deg); 
    }
}

.category .arrowsUp{
    background-image: url(./up.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    float: right;
    height: 20px;
    width: 17px;
    animation:spinback .5s ease-in forwards;
}
@keyframes spinback {
    from { 
        transform: rotate(180deg); 
    } to { 
        transform: rotate(0deg); 
    }
}
.productList {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.productList li:not(:last-child){
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
}


@media screen and (min-width : 650px) {
    .productList li{
        width: 50%;
        float: left;
        border-bottom: 1px solid #e9e9e9;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    .productList li:nth-child(odd):last-child{
        width : 100%;
        border-bottom: none;
    }
    /* .productList li:nth-child(even):last-child{
        border-bottom: none;
    } */
}

.productList li {
    height: 100px;
}